*{
    padding: 0;
    margin: 0;

    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #e1f847;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;


}
main{
    display: flex;
    flex-direction: column;
   background-color:#D90505 ;
 width:79em;
height: 37em;
padding: 10px;

    
}
.icon_mode{
    width: 50px;
    position: absolute;
    top: 20%;
    left: 20%;
 
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
 
}
article{
  
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    
  
}
  .container_cads12,.container_cads34{
        display: flex;
        gap: 50px;
     
    } 
      

div > div{
display: flex;
background-color: white;
flex-direction: column;
align-items: center;
    justify-content: center;
   
    width: 249px;
    height: 299px;

}
.descript{
    padding: 10px;
    font-size: 19px;
   
}
.btn_play{
  border: none;
  background-color: white;
}
.btn_pause{
    display:none;
    border: none;
    background-color: white;
  }
.playImg,.pauseImg {
width: 46px;
}

.bannerImg{
    width: 250px;
  
}
.canal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 10px;
    padding: 10px;
}

.darkModeB{
    background-color:#000000 ;
}
.darkModeArt{
background-color: #000118;
}

@media (max-width: 768px){
    body{
        background-color: #D90505;   
    }
    #Logo{
        width: 300px;
    }
    .darkModeB{
        background-color: #000118;
        }
  article{
    padding: 10px;
        display: flex;
       flex-direction: column;
        gap: 8px;
         
      
    }
    .bannerImg{
        width: 180px;
      
    }
    div > div{
            width: 180px;
            height: 350px;
        
        }

     .container_cads12,.container_cads34{
        display: flex;
        gap: 10px;
    }
    .icon_mode{
        width: 49px;
        position: absolute;
        top: 16%;
        left: 4%;
     
    }
     
    
    
   }
